backend/caravan-server
backend/caravan-server.exe
backend/caravan
backend/tmp
backend/tools
backend/cmd/static/*
backend/dist/*
backend/coverage.out
backend/pkg/spa/static/*
docs/development/storybook/
.plugins
node_modules
.idea/
.DS_Store
